.create-clinic-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 8px;
    direction:rtl ;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #0077b5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #005582;
  }
  
  button {
    margin-top: 10px;
  }
  